@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Link and button style  */

.btn:hover {
  box-shadow: 3px 4px 5px var(--accent);
}

.nav-link {
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--accent);
}

/* Homepage style */

span {
	color: #de5555;
	font-weight: bolder;
}

.Typewriter__wrapper {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 1px;
}
.Typewriter__cursor {
  font-size: 2.4em;
}

.profile img, .about img{
  max-width: 550px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Project card style */

.project-card-view {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; /* Drop shadow for project cards */
  color: #191919;
  background-color: transparent;
  border: transparent;
  transition: all 0.5s ease 0s;
  height: 100%;
  border-radius: 15px;
}
.project-card-view:hover {
  transform: scale(1.02);
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.card-img-top {
  padding: 20px;
  opacity: 0.8;
  border-radius: 10px;
}

/* skils style  */

.skill--box{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-left: 1rem;
}
.skill-image{
  width: 60px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* dark mode style  */
.invert-image {
	filter: invert(1);
}

.dark-mode .invert-image {
	filter: none;
}

/* Responsive style  */
@media (min-width: 992px) {
  .body-text {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}